<p style="color: green"><%= notice %></p>

<%= render @feed %>

<hr />

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>概要</th>
      <th>発行日</th>
      <th><%= link_to "すべて既読にする", feed_archivedall_path(@feed.id, target_ids: taget_entry_ids(@entries)), data: {turbo_method: :put} %></th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, entry.link %></td>
        <td><%= entry.body %></td>
        <td><%= entry.published_at %></td>
        <td><%= link_to "既読にする", feed_archived_path(entry.feed.id, entry.id), data: {turbo_method: :put} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @entries %>

<div>
  <%= link_to "Edit this feed", edit_feed_path(@feed) %> |
  <%= link_to "Back to feeds", feeds_path %>

  <%= button_to "Destroy this feed", @feed, method: :delete %>
</div>
