<div id="<%= dom_id entry %>">
  <p>
    <strong>Feed:</strong>
    <%= entry.feed_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= entry.link %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= entry.body %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= entry.published_at %>
  </p>

</div>
