<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<div id="entries">
  <% @entries_with_feed_key.each do |feed, entries| %>
    <h2><%= feed.title %></h2>
    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>概要</th>
          <th>リンク</th>
          <th>発行日</th>
        </tr>
      </thead>
      <tbody>
        <% entries.each do |entry| %>
          <tr>
            <td><%= entry.title %></td>
            <td><%= entry.body %></td>
            <td><%= link_to "リンク", entry.link %></td>
            <td><%= entry.published_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
