<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<div id="entries">
  <% @entries_with_feed_key.each do |feed, entries| %>
    <h2><%= feed.title %></h2>
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>概要</th>
          <th>発行日</th>
          <th>すべて既読にする</th>
        </tr>
      </thead>
      <tbody>
        <% entries.each do |entry| %>
          <tr>
            <td><%= link_to entry.title, entry.link %></td>
            <td><%= entry.body %></td>
            <td><%= entry.published_at %></td>
            <td><%= link_to "既読にする", save_to_archive_entry_path(entry), data: {turbo_method: :put} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= paginate(@entries) %>
</div>
