<div id="<%= dom_id archived_entry %>">
  <p>
    <strong>Feed:</strong>
    <%= archived_entry.feed_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= archived_entry.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= archived_entry.link %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= archived_entry.body %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= archived_entry.published_at %>
  </p>

</div>
