<p style="color: green"><%= notice %></p>

<h1>Archived entries</h1>

<div id="archived_entries">
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>エンドポイント</th>
        <th>リンク</th>
        <th>本文</th>
      </tr>
    </thead>
    <tbody>
      <% @archived_entries.each do |archived_entry| %>
        <tr>
          <td><%= archived_entry.title %></td>
          <td><%= link_to archived_entry.feed.endpoint, archived_entry.feed.endpoint %></td>
          <td><%= link_to archived_entry.link, archived_entry.link %></td>
          <td><%= archived_entry.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @archived_entries %>

</div>

